// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.banner{
    margin-bottom: 20px;
}
.between-section{
    margin-top: 20px;
    margin-bottom: 10px;
}
.separator{
    background-color:blue;
    height: 5px;
    border-radius: 50px;
}
.hafl-width{
    width: 50%;
}
.text-section{
    margin-top: 10px;
}
.round-img{
    border-radius: 50%;
}
.msg-box{
    height: 590px;
    background-color: white;
}
.contact-msg-box{
    background-color: #f4f4f4;
}
.contact-box{
    padding: 10px;
}
.padd-l-10{
    padding-left: 10px;
}
.bg-white{
    background-color: white;
}

